<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title style="text-align:center">Care-My-Car</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <!-- <form #form="ngForm" (ngSubmit)="login(form)"> -->
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item class="username">
				      <!-- <ion-label position="floating">Username</ion-label> -->
            	<ion-input name="email" type="email" [(ngModel)]="username" placeholder = "Username" style ="text-align:center" required></ion-input>
            </ion-item>
            <ion-item class="password">
				      <!-- <ion-label position="floating">Password</ion-label> -->
            	<ion-input name="password" type="password" [(ngModel)]="password" placeholder = "Password" style ="text-align:center" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button class="login" size="default" expand="block" (click)="doLogin()" color="success">Login</ion-button>
            <ion-button class="register" size="default" expand="block" color="medium" (click)="toRegister()">Register</ion-button>
      			<hr/>
      			<ion-button class="gmail" size="default" expand="block" color="light" (click) = "doLoginGoogle()">Login with Gmail</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- </form> -->
</ion-content>
